<h1>Business Plan Competitions</h1>

    <% Competition.read.order("name asc").each do |competition| %>
<li>
	 <%= link_to competition["name"], "/competitions/#{competition["id"]}" %>
	</li>
	
	<% end %>
		