<% competition_id = params["id"] %>
<% competition = Competition.read(competition_id) %>

<h1><%= competition["name"]%> </h1>
<h2><%= competition["affiliated_school"] %></h2>

<%= competition["description"]%>

	
<h3>Kellogg Startup Participants</h3>
<% winner = Winner.where("competition_id" => competition["id"]) %>
<% if winner.present? %>

<ul>
  <% winner.each do |winner| %>
    <% winner = Startup.find_by("id" => winner["startup_id"]) %>
    <li>
      <%= winner["name"] %>
    </li>
  <% end %>
</ul>
  <% end %>