<% startup_id = params["id"] %>
<% startup = Startup.read(startup_id) %>

<h1><%= startup["name"]%>

<h3>About</h3>
<p><font size="3"><%= startup["description"] %></p>
	
<%= link_to "Delete", "/startups/#{startup["id"]}", "method" => "delete" %>