<div class="jumbotron">
      <div class="container">
        <h1>Entrepreneurship at Kellogg</h1>
        <p>Kellogg has become a thriving ecosystem of entrepreneurship and innovation. </p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Entrepreneurship Classes</h2>
          <p>Build entrepreneurship into your academic calendar. Whether you've founded a company or are thinking of starting your own venture, there's a class to help you learn more </p>
          <p><a class="btn btn-default" href="/courses" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Kellogg Startups</h2>
          <p>The Kellogg community fosters innovation. Learn more about startups founded by students in fields ranging from biotechnology to mindfulness to helping senior citizens. </p>
          <p><a class="btn btn-default" href="/startups"  role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Competitions</h2>
          <p>Business Plan Competitions throughout the year attract a wide range of startup talent from universities across the US. Explore our running list of active competitions and learn more about what's out there'</p>
          <p><a class="btn btn-default" href="/competitions" role="button">View details &raquo;</a></p>
        </div>
      </div>
